.change-passwords {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 400px;

    input {
      height: 38px;
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 1.5rem;

      &:focus {
        outline: none;
        border: 1px solid #1f88e5;
      }
    }

    button {
      height: 38px;
      border: 1px solid #1f88e5;
      color: #1f88e5;
      background-color: white;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: #1f89e598;
        color: white;
        transition: 0.2 ease;
      }
    }
  }
}
