a {
  text-decoration: none;
}
.movie-item {
  margin: 1rem 0;
  color: #191919;
  //border: 1px solid gainsboro;
  //border-radius: 5px;
  display: inline-block;

  .movie-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 220px;
  }

  .movie-header {
    display: flex;
    justify-content: space-between;
    .movie-title {
      font-size: 1rem;
      text-decoration: none;
      color: #191919;
      font-weight: 600;
    }
  }

  p {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .movie-img {
    //max-width: 1px;
    width: 100%;
    margin-right: 2rem;
  }
}
