* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
  min-height: 100vh;

  .header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
    }
    ul {
      display: flex;
      list-style: none;
      li a {
        text-decoration: none;
        color: black;
        margin-left: 30px;
      }
    }
  }
}

.footer {
  padding: 3rem;
  bottom: 0;
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: space-between;
  h4 {
    margin-bottom: 0.7rem;
  }
  ul {
    list-style-type: none;
  }
  .right {
    text-align: right;
  }
}

.score-select {
  width: 120px;
}

.score-submit {
  margin-left: 44px;
}

.sort-bar {
  width: 120px;
  margin: 50px 0;
}
